/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for the checkbox */
.custom-checkbox {
  @apply appearance-none h-5 w-5 bg-input border  border-transparent rounded-sm;
  position: relative;
}

.custom-checkbox:checked {
  @apply bg-input border-transparent;
}

.custom-checkbox:checked::after {
  content: '✓';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 0.875rem; /* Adjusted for the smaller checkbox */
  color: white; /* or any desired color */
  line-height: 1.25rem; /* Adjusted for the smaller checkbox */
  text-align: center;
}
/* styles.css */
.loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #fff;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}