/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for the checkbox */
.custom-checkbox {
  @apply appearance-none h-5 w-5 bg-input border  border-transparent rounded-sm;
  position: relative;
}

.custom-checkbox:checked {
  @apply bg-input border-transparent;
}

.custom-checkbox:checked::after {
  content: '✓';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 0.875rem; /* Adjusted for the smaller checkbox */
  color: white; /* or any desired color */
  line-height: 1.25rem; /* Adjusted for the smaller checkbox */
  text-align: center;
}